<template name="upload">
    <div class="form-group">
        {{#with currentUpload}}
            <label for="exampleFormControlFile1">
                <span class="text-primary">Uploading...</span>
                <br>
                <b>{{file.name}}</b>
                <span id="progress" class="text-success">{{progress.get}}%</span>
            </label>

        {{else}}
            <input id="fileInput" type="file" class="form-control-file"/>
        {{/with}}
    </div>
</template>
