<template name="App_home">
    <div class="main-block bg-light col-md-8 offset-md-2">
        <div class="row">
            <div class="login col-md-6">
                {{> loginButtons}}
                {{#if admin}}
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#" role="tab"
                               aria-controls="nav-home" aria-selected="true"><img src="/img/gears.png">Настройки</a>

                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <input type="checkbox" checked>png<br>

                                                <input type="checkbox" checked>jpg<br>

                                                <input type="checkbox">jpeg<br>

                                                <input type="checkbox">svg<br>

                                                <input type="checkbox">ico<br>

                                            </div>
                                            <div class="col-md-6">

                                                <input type="checkbox">gif<br>

                                                <input type="checkbox" checked>tiff<br>

                                                <input type="checkbox" checked>pdf<br>

                                                <input type="checkbox" checked> zip<br>

                                                <input type="checkbox">rar<br>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>

            <div class=" col-md-6">
                {{#if currentUser}}
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <img src="/img/cloud-computing.png" alt=""/>
                        </div>

                    </div>
                    <div class="upload border rounded">

                        {{> upload}}
                    </div>
                {{else}}

                {{/if}}
            </div>
        </div>
    </div>
    <div class="file-list bg-light col-md-8 offset-md-2 table-hover">
        <h3>Список файлов</h3>
        <table class="table table-striped">
            <caption></caption>
            <thead>
            <tr>
                <th scope="col"><img src="/img/folder.png" alt=""/></th>
                <th scope="col">Название картинки</th>
                <th scope="col">ID пользователя</th>
                <th scope="col">Время загрузки</th>
            </tr>
            </thead>
            <tbody>
            {{#each file in files}}
                <tr>
                    <td><img src="/img/right-arrow.png" alt=""/></td>
                    <td><span class="text-primary">{{file.name}}</span></td>
                    <td><span>{{file.userId}}</span></td>
                    <td style="font-size: 10px">{{file.meta.date}}</td>
                </tr>
            {{/each}}

            </tbody>
        </table>

    </div>
    <div>
    </div>


</template>
