body {
  height: 100vh;
  background: #007bff linear-gradient(180deg, mix(#007bff, #71baa7), #71baa7) repeat-x;
}
.main-block {
  margin-top: 2vh;
  min-height: 30vh;
  border-radius: 20px;
  padding: 5%;
}
.file-list {
  min-height: 40vh;
  border-radius: 20px;
  margin-top: 2vh;
  padding: 5%;
}

.upload{
  padding: 5%;
  margin: 10px;
}